{% load static %}
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-4   ">
                <h5>
                    <img src="{% static 'images/logo_transparent.png' %}" alt="Los Angeles">

                </h5>
            </div>
            <div class="col-md-2">
                <ul>
                    <h5 class="">
                        Quick Links
                    </h5>
                    <li>
                        <a href="/">
                            Homepage
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            Shop
                        </a>
                    </li>
                    <li>
                        <a href="https://blog.edailyfocus.com/blog/">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            Contact us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <h5 class="">
                        Categories
                    </h5>
                    <li>
                        <a href="#">
                            Weekly planners
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Daily planners
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Diaries
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Bill organizer
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <h5 class="">
                        Community
                    </h5>
                    <li>
                        <a href="#">
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Our blogs
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <h6>Contact us</h6>
                    <li>
                        edailyfocus@gmail.com
                    </li>
                    <li>
                        +254 54548723193
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="m-auto mt-5">
                <p>
                    2021@Buckwel - Terms and Policy.
                </p>
            </div>
        </div>
    </div>
</section>