{% load static %}
{% load i18n %}
{% load category_tags %}
<nav class="navbar navbar-expand-sm     ">


    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <ul class="navbar-nav m-auto w-100 border-top border-secondary">
            {% block nav_items %}
            <!-- Brand -->
            <li>
                <div alt="Logo"><a href="/home"><img class="logo-img" src="{% static 'images/transparent.png' %}"
                            alt=""></a>
                    </a>
            </li>
            <li class="nav-item dropdown mt-3">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {% block browse_store_text %}{% trans "Browse store" %}{% endblock %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% category_tree depth=1 as tree_categories %}
                    <a class="dropdown-item" href="{% url 'catalogue:index' %}">{% trans "All products" %}</a>
                    {% if tree_categories %}
                    <div class="dropdown-divider"></div>
                    {% for tree_category in tree_categories %}
                    <a class="dropdown-item" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name
                        }}</a>
                    {% endfor %}
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    {% block nav_dropdown_extra_items %}
                    <a class="dropdown-item" href="{% url 'offer:list' %}">{% trans "Offers" %}</a>
                    {% endblock %}
                </div>
            </li>
            {% endblock %}
            <li class="nav-item dropdown mt-3">
                <a class="nav-link" href="/">
                    Shop
                </a>
            </li>
            <li class="nav-item dropdown mt-3">
                <a class="nav-link" href="/#about" id="navbardrop" data-toggle="dropdown">
                    About us
                </a>
            </li>
            <li class="nav-item mt-3">
                <a class="nav-link" href="/#blogs">Blogs</a>
            </li>
            <li class="nav-item mt-3">
                <a class="nav-link" href="/contact">Contact us</a>
            </li>
            {% block nav_extra %}
            {% include "oscar/partials/search.html" %}
            {% endblock %}
        </ul>
    </div>
</nav>